

#cardSlider {
    display: flex;
    width: calc(99px * 10);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 15px;
}


.weatherCard {
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    scroll-snap-align: center;
}