#hourlyForecastDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#cardSlider {
    display: flex;
    width: fit-content;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: auto;
}

.weatherCard {
    display: grid;
    grid-template-columns: 5ch 50px 15ch 7ch;
    background-color: white;
    justify-items: center;
    align-items: center;
    grid-template-rows: 30px;
    column-gap: 15px;
    padding: 5px;
}

.weatherCard:nth-child(even) {
    background-color: #a2d2ff;
}

.text {
    justify-self: left;
    font-size: 14px;
}

.weatherCard img {
    width: 30px;
}

div a {
    color: gray;
    padding: 5px;
}

div a:hover {
    cursor: pointer;
}

.active {
    color: black;
    border-bottom: 1px solid black;
}

#dayLinks {
    display: flex;
    gap: 10px;
}

#switchTempBtn {
    font-weight: bold;
}

