
#sidebarContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background: linear-gradient(120deg,#33557E 0%, #425679 50%, #7D87AB 100%);
    padding: 25px;
    color: white;
}

.dateLocationDiv {
    display: grid;
    row-gap: 15px;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;
    align-items: flex-end;
}

.sidebarLocation {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 24px;
}

.sidebarLocation span {
    color: rgb(161, 161, 161);
    font-size: 16px;
}

.sidebarTime {
    justify-self: center;
    font-size: 24px;
}

.sidebarDate {
    grid-column: 1/3;
    font-size: 20px;
}

.sidebarWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sidebarWeatherFig img {
    width: 100px;
    height: auto;
}

.sidebarWeather figcaption {
    font-size: 20px;
}

.sidebarTemp {
    font-size: 60px;
}

.sidebarPerceived {
    font-size: 24px;
}
